html,
body,
.container,
#root,
#app {
  height: 100%;
}

#app {
  background-color: #fafafa !important;
  height: 100%;
}

.full-height {
  height: 100%;
}

.top-section-padding {
  padding-top: 7rem;
}

.top-s-padding {
  padding-top: 2rem;
}

.bottom-s-padding {
  padding-bottom: 2rem;
}

.section-margin {
  margin-top: 7rem;
}

.top-s-margin {
  margin-top: 2rem;
}

.bottom-xs-margin {
  margin-bottom: 1rem;
}

.bottom-s-margin {
  margin-bottom: 2rem;
}

.bottom-m-margin {
  margin-bottom: 4rem;
}

.landing-section {
  min-height: 450px;
}

.side-margin {
  margin: 0rem 3rem;
}

.p-text {
  padding: 0rem 3rem;
  line-height: 1.875rem;
  font-weight: 400;
}

.orange.darken-1:hover {
  background-color: #ef6c00 !important;
}

.snappy-dark-blue {
  background-color: #063f3a;
}

.large-text {
  font-size: 1.5rem;
}

.medium-text {
  font-size: 1.25rem;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
  margin-bottom: -6px;
}

.container .row {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.flex-align-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.features-item {
  padding: 0 20px 0 20px;
  margin-bottom: 5rem;
}

.landing-list {
  margin-bottom: 10px;
  text-align: left;
}

.landing-list a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 2em;
}

.light-font {
  font-weight: 300;
}

.col-background-img {
  height: 40vh;
}

.delete-button {
  color: #7a7474;
  cursor: pointer;
}

.delete-button:hover {
  color: #d32f2f;
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .col-background-img {
    height: 30vh;
  }
  .landing-section {
    height: 85vh;
    min-height: 450px;
  }
}

@media screen and (min-width: 992px) {
  .col-background-img {
    height: 100%;
  }
  .landing-section {
    height: 80vh;
    min-height: 450px;
  }
}
